# Pinned versions of IREE dependencies.

# Keep these versions synced with SHORTFIN_IREE_GIT_TAG in shortfin/CMakeLists.txt
--find-links https://iree.dev/pip-release-links.html
iree-base-compiler==3.5.0rc20250512
iree-base-runtime==3.5.0rc20250512
iree-turbine==3.5.0rc20250512
