# Pinned versions of IREE dependencies.

# Keep these versions synced with SHORTFIN_IREE_GIT_TAG in shortfin/CMakeLists.txt
--pre
--find-links https://iree.dev/pip-release-links.html
iree-base-compiler==3.1.0rc20241204
iree-base-runtime==3.1.0rc20241204

# TODO(#760): include iree-turbine in this requirements file too?
# iree-turbine==3.1.0rc20241205
